docs/dtd/faqs.dtd

<?xml encoding='UTF-8'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (%blocks;)+>

<!-- CVS $Revision: 317483 $ $Date: 2001-08-23 09:35:39 +0900 (2001年08月23日 (木)) $ -->